BasedOnStyle: LLVM

IndentWidth: 4

AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

PointerAlignment: Left

SpaceBeforeInheritanceColon: False

ColumnLimit: 100
AlwaysBreakTemplateDeclarations: true

ReflowComments: false
CommentPragmas: '^'
